<div class='header'>
    <a [routerLink]="['/home']" [routerLinkActive]="['router-link-active']" class='link'>
        <i class="fa fa-fw fa-home"></i>
    </a>
    <a [routerLink]="['/posts']" [routerLinkActive]="['router-link-active']" class='link'>
        <i class="fa fa-fw fa-newspaper-o"></i>
    </a>
    <a [routerLink]="['/add-post']" [routerLinkActive]="['router-link-active']" class='link'>
        <i class="fa fa-fw fa-plus-circle"></i>
    </a>
    <a [routerLink]="['/contact']" [routerLinkActive]="['router-link-active']" class='link'>
        <i class="fa fa-fw fa-envelope-o"></i>
    </a>
</div>
